body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.filtroCategorias {
    filter: grayscale(60%);
    transition: all 0.9s;
}

.filtroCategorias:hover {
    filter: none;
}

@media all and (max-width: 767px){
    .banner {
        height: 250px;
        object-fit: cover;
    }
}
